{% extends 'base1.html.twig' %}
{% block sidebar %}

{% endblock %}
{% block body %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>MEDICAMENT/EQUIPEMENTS</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Acceuil</a></li>
                    <li class="breadcrumb-item active">produit</li>
                </ol>
                 <a href="{{ path('app_produit_new') }}"class="btn btn-success rounded-pill">Create new</a>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">


                         <h1>Produit index</h1>
                         

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.type }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}"class="btn btn-primary rounded-pill">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}"class="btn btn-info rounded-pill">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


                     

                    </div>
                </div><!-- End Left side columns -->

               
                   

                  
                </div><!-- End Right side columns -->

            </div>
        </section>

    </main><!-- End #main -->


{% endblock %}