{% extends 'base.html.twig' %}

{% block title %}Edit Chartjs{% endblock %}
{% block sidebar %}
<!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link "href="{{ path('app_fiche_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Fiches patients</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link "href="{{ path('app_evenement_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Evenements</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                     
                   
                </ul>

            </aside><!-- End Sidebar-->
{% endblock %}
{% block body %}
    <h1>Edit Chartjs</h1>

    {{ include('chartjs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chartjs_index') }}">back to list</a>

    {{ include('chartjs/_delete_form.html.twig') }}
{% endblock %}
