{% extends 'base.html.twig' %}

{% block title %}ReservationEvenement{% endblock %}

{% block about %}
    <h1>ReservationEvenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdReservationEvenement</th>
                <td>{{ reservation_evenement.idReservationEvenement }}</td>
            </tr>
            <tr>
                <th>NbPlace</th>
                <td>{{ reservation_evenement.nbPlace }}</td>
            </tr>
            <tr>
                <th>Totale</th>
                <td>{{ reservation_evenement.totale }}</td>
            </tr>
            <tr>
                <th>ModePaiement</th>
                <td>{{ reservation_evenement.modePaiement }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ reservation_evenement.idUser }}</td>
            </tr>
            <tr>
                <th>Evenement
                </th>
                <td>{{ reservation_evenement.getEvenement() }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_reservation_evenement_index') }}">back to list</a>

    <a href="{{ path('app_reservation_evenement_edit', {'idReservationEvenement': reservation_evenement.idReservationEvenement}) }}">edit</a>
    {{ include('reservation_evenement/_delete_form.html.twig') }}
{% endblock %}
