{% extends 'base1.html.twig' %}
{% block sidebar %}
<!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link "href="{{ path('app_fiche_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Fiches patients</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <li class="nav-item">
                        <a class="nav-link "href="{{ path('app_evenement_index') }}">
                            <i class="bi bi-grid"></i>
                            <span>Evenements</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                     
                   
                </ul>

            </aside><!-- End Sidebar-->
{% endblock %}
{% block body %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Fiche Patient</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_chartjs_new') }}">Stats</a></li>
                    <li class="breadcrumb-item active">Fiche</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">

                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">

    <h1>Fiche</h1>

<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fiche.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ fiche.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ fiche.age }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ fiche.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ fiche.taille }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fiche.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fiche_index') }}"class="btn btn-success rounded-pill">Liste des fiches</a>

    <a href="{{ path('app_fiche_edit', {'id': fiche.id}) }}"class="btn btn-warning rounded-pill">Modifier</a>

    {{ include('fiche/_delete_form.html.twig') }}
           

                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">

                    <!-- Recent Activity -->
                    <div class="card">
                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Aujourd'hui</a></li>
                                <li><a class="dropdown-item" href="#">Ce mois</a></li>
                                <li><a class="dropdown-item" href="#">Cette Annee</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Activite recent <span>| Aujourd'hui</span></h5>

                            <div class="activity">

                                <div class="activity-item d-flex">
                                    <div class="activite-label">15 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                    <div class="activity-content">
                                        je suis malade <a href="#" class="fw-bold text-dark">en attendant Medecin</a> Khayri
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">56 min</div>
                                    <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                    <div class="activity-content">
                                        Accident  travail
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 heures</div>
                                    <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                    <div class="activity-content">
                                        operation sécurisé
                                    </div>
                                </div><!-- End activity item-->

                                <div class="activity-item d-flex">
                                    <div class="activite-label">1 day</div>
                                    <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                    <div class="activity-content">
                                        Imprimer les fiches<a href="#" class="fw-bold text-dark"> le Medecin</a> Dani
                                    </div>
                                </div><!-- End activity item-->
                                <div class="activity-item d-flex">
                                    <div class="activite-label">2 jrs</div>
                                    <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                    <div class="activity-content">
                                        Evenement exterieur
                                    </div>
                                </div><!-- End activity item-->
                                <div class="activity-item d-flex">
                                    <div class="activite-label">4 sem</div>
                                    <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                    <div class="activity-content">
                                        re-checking des fiches patient
                                    </div>
                                </div><!-- End activity item-->
                            </div>
                        </div>
                    </div><!-- End Recent Activity -->                 
                </div><!-- End Right side columns -->
            </div>
        </section>
    </main><!-- End #main -->
{% endblock %}